.analytics {
  .analytics-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      font-family: ubuntu-bold;
      color: $primary-red;
      font-size: 92px;
      margin: 0 0 14px 0;
    }

    p {
      font-family: ubuntu-medium;
      font-size: 64px;
      margin: 0;
    }

    .right-side {
      display: flex;
      gap: 80px;

      .profile {
        position: relative;

        .upload-icon {
          position: absolute;
          left: 140px;
          top: 140px;
        }
      }
    }
  }

  hr {
    border-top: 1px solid $primary-red;
  }

  .analytics-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 600px;
    margin-top: 50px;

    .analytics-body-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 500px;
      width: 100%;

      .form-container {
        display: flex;
        flex-direction: column;
        max-height: 450px;
        flex-wrap: wrap;
        column-gap: 60px;
        margin-top: 25px;

        label {
          font-family: ubuntu-medium;
          width: 220px;
        }
      }
    }

    .analytics-body-right {
      display: flex;
      flex-direction: column;
      max-width: 550px;
      width: 100%;
      margin-top: 30px;
      justify-content: space-between;

      .progress-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        h1 {
          margin: 0;
          font-family: bebas-neue;
          font-size: 48px;
          font-weight: 400;
          color: $primary-red;
        }
      }

      .arc-container {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 48px;
          max-width: 270px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .analytics-body-right{
    h1 {
      font-size: 30px !important;
      margin-left: 15px !important;
    }
  }
}

@media screen and (max-width: $desktop-small) {
  .analytics-header {
    .profile {
      display: none;
    }

    p {
      max-width: 90%;
      max-height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .analytics-body {
    align-items: center;
    flex-direction: column;

    .analytics-body-left,
    .analytics-body-right {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: $phablet){
  .form-container{
    column-gap: 0 !important
  }

  .arc-container{
    padding-bottom: 100px;
  }
}

@media screen and (max-width: $mobile){
  .form-container{
    max-height: 100% !important;

    label {
      width: 100% !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      input, select {
        margin-bottom: 0 !important;
        margin-right: 20px;
      }
    }
  }

  .progress-container{
    h1 {
      margin-left: 0 !important;
    }
  }

}
