.home-page-canvas {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: $background-gradient;

  .open-svg {
    margin-left: 35%;
    margin-top: 60px;
  }

  .power-svg {
    margin-left: 55%;
  }

}

.home-link-container {
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: unset;
    color: $black;
    .home-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 230px;
      padding: 16px;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.13);
      box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.08);

      &:hover {
        box-shadow: 0px 0px 14px 6px $primary-red;
        transform: scale(1.05);
        transition: 0.5s;
      }

      h1 {
        margin-bottom: 0;
      }

      p {
        text-align: center;
      }
    }
  }
}

.landing-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 350px;

  button {
    margin-bottom: 30px;
  }
}

.credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  
  p{
    margin: 0px;
    color: $primary-red !important;
  }

  a{
    text-decoration-color: $primary-red !important;
  }
}

@media screen and (max-width: $tablet) {
  .home-page-canvas{
    align-items: center;

    img{
      margin-left: 0 !important;
    }
  }

  .home-link-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    a {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .home-link {
      width: 70% !important;
    }
  }
}
