.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .container-mobile {
    width: 100%;
  }

  .navbar-container {
    width: 170px;
    height: 95%;
    border: 1px solid $grey;
    margin-right: 20px;
    border-radius: 8px;
    padding: 14px;

    .nav-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }

    .nav-content {
      display: flex;
      flex-direction: column;
      gap: 26px;

      .navbar-link {
        display: flex;

        &:hover {
          img {
            filter: invert(51%) sepia(33%) saturate(1918%) hue-rotate(316deg)
              brightness(103%) contrast(103%);
          }

          p {
            text-decoration: underline;
            color: $primary-red;
          }
        }

        p {
          margin: 0 0 0 27px;
          display: flex;
          align-items: center;
        }
      }

      .navbar-link-mobile {
        hr {
          display: none;
        }

        &:hover {
          img {
            filter: invert(51%) sepia(33%) saturate(1918%) hue-rotate(316deg)
              brightness(103%) contrast(103%);
          }

          hr {
            display: block;
            color: $primary-red;
          }
        }
      }
    }
  }

  @media screen and (min-width: 750px) {
    margin: 10px !important;
  }

  @media screen and (max-width: 750px) {
    margin: 0px !important;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100vh;

    .container-mobile {
      margin: 0 10px;
    }

    .navbar-container {
      &.mobile {
        position: fixed;
        bottom: 0;
        border-top: 1px solid $grey;
        height: 60px;
        width: 100%;
        background-color: $white;
        z-index: 10;
        padding: 20px 0 10px 0;
      }

      .nav-header {
        &.mobile {
          display: none;
        }
      }

      img,
      .navbar-link-mobile{
        height: 40px;
        width: 40px;
      }

      .nav-content {
        &.mobile {
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }
}

.footer{
  height: 220px;
  display: flex;
  border-top: 1px solid $grey;
  justify-content: space-between;

  .footer-left-side {
    display: flex;

    .footer-logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      .strength-img {
        margin-left: 210px;
      }

      .stats-img {
        margin-left: 280px;
      }
    }

    hr {
      margin-inline: 60px;  
      border-left: 1px solid $primary-red
    }

    .footer-credit{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      p{
        margin: 0px;
        color: $primary-red !important;
        font-size: 24px;
      }

      a{
        text-decoration-color: $primary-red !important;
      }

      .a1 {
        margin-bottom: 20px;
      }
    }
  }
}
