.lifter-skeleton {
  display: flex;
  margin-bottom: 30px;

  .img-skeleton {
    margin-inline: 20px;
  }
}

.analytics-skeleton {
  .skeleton-bar {
    margin-bottom: 70px;
  }
}

.compare-skeleton {
  .skeleton-bar {
    margin-top: 40px;
  }
}
